.header {
    padding: 30px;
    display: flex;

}

.header__link {
    padding: 10px 25px;
    font-size: 18px;
    border-right: 1px solid #7b7b7b;
    color: #7d7d7c;
}

.active {
    text-decoration: underline;
}

.header__link:last-child {
    border-right: none;
}