/* Main styles */
.shop {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 30px;
}

/* PharmaciesList styles */

.pharmacies {
    width: 17%;
    min-width: 220px;
    height: 100%;
    display: flex;
}

.pharmacies__shops {
    padding: 15px 7px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #fff;
}

.shops__title {
    font-size: 18px;
}

.shops__list {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.list__buttons {
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7b7b7b;
    border-radius: 15px;
    cursor: pointer;
}

.list__buttons h2 {
    font-size: 20px;
}

.active {
    background: #fff2b0;
}

/* PharmaciesList styles */

.products {
    position: relative;
    padding: 35px 7px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.products__sort {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url('../../../assets/icons/sort-icon.png') 50%/cover no-repeat;
    cursor: pointer;
}

.products__sort::before {
    content: 'Sort by price';
    position: absolute;
    top: -30px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff2b0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.products__sort:hover::before {
    visibility: visible;
    opacity: 1;
}

.products__body {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: grid;
    flex: 1 1 auto;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    justify-items: center;
    column-gap: 25px;
    row-gap: 20px;
    overflow-y: auto;
}

.body__card {
    padding: 15px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background: #fff2b0;

}

.card__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}

.card__top img {
    width: 100%;
    height: 180px;
    object-fit: fill;
    border-radius: 7px;
}

.card__top h2 {
    font-size: 18px;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__favorite {
    position: relative;
}

.bottom__favorite img{
    position: relative;
    width: 30px;
    height: 30px;
}

.bottom__favorite::before {
    content: 'Favorite product';
    position: absolute;
    top: -30px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #d7d7d7;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.bottom__favorite:hover::before {
    visibility: visible;
    opacity: 1;
}

.bottom__button {
    padding: 15px 30px;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
}

/* Mobile styles */

@media (max-width: 768px) {

    /* Pharmacy styles */

    .pharmacies {
        width: 7%;
        min-width: 50px;
    }
    .list__buttons {
        width: 45px;
        height: 45px;
        text-align: center;
    }
    .list__buttons h2 {
        font-size: 9px;
    }

    /* Product styles */

    .products__body {
        grid-template-columns: repeat(auto-fill, 200px);
    }

    .body__card {
        width: 200px;
    }
}